font                DATA "FOT-Matisse ProN DB.compressedttf"
KG_Key_1            DATA "KG_Key_1.png"
KG_Key_2            DATA "KG_Key_2.png"
KG_Key_3            DATA "KG_Key_3.png"
KG_Key_4            DATA "KG_Key_4.png"
KG_Key_5            DATA "KG_Key_5.png"
KG_Key_6            DATA "KG_Key_6.png"
KG_Key_7            DATA "KG_Key_7.png"
KG_Key_8            DATA "KG_Key_8.png"
KG_Key_9            DATA "KG_Key_9.png"
MENU_FE_NameBase    DATA "MENU_FE_NameBase.png"
MENU_FE_Warning     DATA "MENU_FE_Warning.png"
MENU_FL_Arts_waku3  DATA "MENU_FL_Arts_waku3.png"
MENU_FL_d0          DATA "MENU_FL_d0.png"
MENU_FL_Equip_waku  DATA "MENU_FL_Equip_waku.png"
MENU_ItemIcon_03005 DATA "MENU_ItemIcon_03005.png"

